alias zshrc="source ~/.zshrc"
alias xcopy="xclip -i -selection clipboard"
alias xpaste="xclip -o -selection clipboard"
alias vimf="vim \$(fzf)"
alias mpcf="~/Projects/dotfiles/dmenu-suite/scripts/mpcmenu fzf"

alias dlm='youtube-dl --audio-format mp3'

alias line2jq="jq -R -s 'split(\"\n\") | map(select(. != \"\"))'"
alias grid2jq="line2jq | jq 'map(split(\"\\\s+\"; \"\"))'"
alias jq2line="jq -r 'join(\"\n\")'"

alias :cr0="copyq_clipboard_read 0"
alias :cr1="copyq_clipboard_read 1"
alias :cr2="copyq_clipboard_read 2"
alias :cr3="copyq_clipboard_read 3"
alias :cr4="copyq_clipboard_read 4"
alias :cr5="copyq_clipboard_read 5"
alias :cr6="copyq_clipboard_read 6"
alias :cr7="copyq_clipboard_read 7"
alias :cr8="copyq_clipboard_read 8"
alias :cr9="copyq_clipboard_read 9"

alias :cs0="copyq_clipboard_select 0"
alias :cs1="copyq_clipboard_select 1"
alias :cs2="copyq_clipboard_select 2"
alias :cs3="copyq_clipboard_select 3"
alias :cs4="copyq_clipboard_select 4"
alias :cs5="copyq_clipboard_select 5"
alias :cs6="copyq_clipboard_select 6"
alias :cs7="copyq_clipboard_select 7"
alias :cs8="copyq_clipboard_select 8"
alias :cs9="copyq_clipboard_select 9"

alias :nr1="copyq_note_read 0"
alias :nr2="copyq_note_read 1"
alias :nr3="copyq_note_read 2"
alias :nr4="copyq_note_read 3"
alias :nr5="copyq_note_read 4"
alias :nr6="copyq_note_read 5"
alias :nr7="copyq_note_read 6"
alias :nr8="copyq_note_read 7"
alias :nr9="copyq_note_read 8"

alias :ni1="copyq_note_insert 0"
alias :ni2="copyq_note_insert 1"
alias :ni3="copyq_note_insert 2"
alias :ni4="copyq_note_insert 3"
alias :ni5="copyq_note_insert 4"
alias :ni6="copyq_note_insert 5"
alias :ni7="copyq_note_insert 6"
alias :ni8="copyq_note_insert 7"
alias :ni9="copyq_note_insert 8"

alias :nu1="copyq_note_update 0"
alias :nu2="copyq_note_update 1"
alias :nu3="copyq_note_update 2"
alias :nu4="copyq_note_update 3"
alias :nu5="copyq_note_update 4"
alias :nu6="copyq_note_update 5"
alias :nu7="copyq_note_update 6"
alias :nu8="copyq_note_update 7"
alias :nu9="copyq_note_update 8"

alias :ns1="copyq_note_select 0"
alias :ns2="copyq_note_select 1"
alias :ns3="copyq_note_select 2"
alias :ns4="copyq_note_select 3"
alias :ns5="copyq_note_select 4"
alias :ns6="copyq_note_select 5"
alias :ns7="copyq_note_select 6"
alias :ns8="copyq_note_select 7"
alias :ns9="copyq_note_select 8"

alias :n="copyq_notes"
alias :c="copyq_clipboard"

alias :lp="lastpass_clip_password"
